.main{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #14213D;
    opacity: 95%;
}

.merchantLog{
  padding-left: 80%;
   font-size: smaller;
   padding-bottom: 0px;
   cursor: pointer;
   background-color: #FCA311;
   border-bottom-style:groove;
   border-bottom-width: 10px;
}

h1{
    padding-top: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

h2{
    font-size: small;
   text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.about{
    font-size: smaller;
    text-align: center;
    padding-bottom: 30px;
    border-bottom-style: ridge;
    border-bottom-width: 5px;
    
}

.preg{
    text-align: center;
    margin-left: 5%;
    cursor: pointer;
}

.mreg{
    text-align: center;
    padding-left: 55%;
    cursor: pointer;
    padding-top: 0px;
}

.patronLog{
    background-color: #14213D;
    text-align: center;
    justify-content:center;
    opacity: 95%;
}

.flog{
    align-content: center;
    padding-left: 37%;
}

.logText{
    color: #E5E5E5;
}

.head{
    background-color: #E5E5E5;
}

 .center{
     display: block;
     margin-left: auto;
     margin-right: auto;
     opacity: 11%;
     background-color: #E5E5E5;
 }

 .mainT{
    background-color: #E5E5E5;
 }