.logOut{
    padding-right: 90%;
     font-size: smaller;
     padding-bottom: 0px;
     cursor: pointer;
  }

  .row{
      padding-top: 8px;
      padding-bottom: 5px;
      align-items: center;
  }
