.mainp{
    background-color: #14213D;
}

.merchHead{
    background-color: #E5E5E5 ;
    margin-bottom: 5%;
}
.products{
    background-color: #E5E5E5;
    border: #E5E5E5;
    border-width: 3px;
    border-style: groove;
    margin-bottom: 7%;
  
}

.logOut{
    padding-right: 90%;
     font-size: smaller;
     padding-bottom: 0px;
     cursor: pointer;
     color: #E5E5E5;
  }

  .button{
      align-items: center;
      margin-top: 10px;
      background-color: #FCA311;
  }

  .buttonp{
    align-items: center;
    margin-bottom: 10px;
    background-color: #FCA311;
    margin-right: 30%;
}

  .heading{
      padding-bottom: 8%;
      background-color: #E5E5E5;
      border: black;
      border-style:groove;
      border-width: 5px;
      margin-bottom: 5%;
      text-align: center;
  }

  .product{
    border-bottom-style:ridge;
    margin-left: 30%;
    margin-right:2%;
    background-color: #E5E5E5;
    text-align: center;
  
  }

  .address{
    margin-left: 2%;
    margin-right:2%;
    background-color: #E5E5E5;
    text-align: center;
  
  }



  .flexbox-container {
    display: flex;
  }


  .commentHead{
      background-color: #FCA311 ;
      text-align: center;
      margin-top: 5%;
      margin-right: 30%;
      margin-left:30%;
      border-style: groove;
  }
  
  .comment{
    background-color: #FCA311;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    
  }

  .comments{
    background-color: #14213D;
    border-style: groove;
    margin-top: 3%;
  }


  .subp{
      text-align: center;
  }

  .clearCart{
      margin-left: 10%;
  }
