.mainp{
    background-color: #14213D;
    opacity: 95%;
}

.merchHead{
    background-color: #E5E5E5 ;
    margin-bottom: 1%;
    opacity: 95%;

}

.merchAbout{
  background-color: #E5E5E5 ;
  margin-bottom: 1%;
  margin-top: 1%;
  opacity: 95%;
  text-align: center;

}

.products{
    background-color: #E5E5E5;
    border: #E5E5E5;
    border-width: 3px;
    border-style: groove;
    margin-bottom: 7%;
  
}

.logOut{
    padding-right: 90%;
     font-size: smaller;
     padding-bottom: 0px;
     cursor: pointer;
     color: #E5E5E5;
  }

  .button{
      align-items: center;
      margin-top: 10px;
      background-color: #FCA311;
      opacity: 70%;
  }

  .buttonp{
    align-items: center;
    margin-bottom: 10px;
    background-color: #FCA311;
    margin-right: 30%;
    opacity: 70%;
}

  .heading{
      padding-bottom: 8%;
      background-color: #E5E5E5;
      border: black;
      border-style:groove;
      border-width: 5px;
      margin-bottom: 5%;
      text-align: center;
  }

  .product{
    border-bottom-style:ridge;
    margin-top: 2%;
    margin-left: 30%;
    margin-right:2%;
    background-color: #E5E5E5;
    text-align: center;
    font-size: 1.3rem;
  
  }

  .address{
    margin-left: 2%;
    margin-right:2%;
    background-color: #E5E5E5;
    text-align: center;
    font-size: 1.2rem;
  
  }

  .addressprof{
    margin-left: 38%;
    margin-right:2%;
    background-color: #E5E5E5;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    border-style: none;
  
  }



  .flexbox-container {
    display: flex;
  }


  .commentHead{
      background-color: #FCA311 ;
      text-align: center;
      margin-top: 5%;
      margin-right: 30%;
      margin-left:30%;
      border-style: groove;
      opacity: 80%;
  }
  
  .comment{
    background-color: #FCA311;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    opacity: 80%;
    
  }

  .comments{
    background-color: #14213D;
    border-style: groove;
    margin-top: 3%;
    opacity: 95%;
  }


  .subp{
      text-align: center;
  }

  .clearCart{
      margin-left: 10%;
  }

  .merchName{
      font-size: x-large;
      font-style: bold;
  }

  .prodPic{
      border-style:outset;
  }

  