.mainp{
    background-color: #14213D;
}

.merchHead{
    background-color: #E5E5E5 ;
}
.products{
    background-color: #FCA311;
    border: #E5E5E5;
    border-width: 3px;
    border-style: groove;
  
}

.logOut{
    padding-right: 90%;
     font-size: smaller;
     padding-bottom: 0px;
     cursor: pointer;
     color: #E5E5E5;
  }

  .button{
      align-items: center;
      margin-top: 10px;
      background-color: #14213D;
  }

  .buttonp{
    align-items: center;
    margin-bottom: 10px;
    background-color: #14213D;
}

  .heading{
      padding-bottom: 20%;
      background-color: #E5E5E5;
      border: black;
      border-style:groove;
      border-width: 5px;
  }

  .product{
    border-bottom-style:ridge;
    margin-right: 65%;
    background-color: #FCA311;
    text-align: center;
  
  }

  .flexbox-container {
    display: flex;
  }


  .commentHead{
      background-color: #E5E5E5 ;
      text-align: center;
      margin-top: 10%;
      margin-right: 30%;
      margin-left:30%
  }
  
  .comment{
    background-color: #E5E5E5 ;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
  }

  .comments{
    background-color: #14213D 
  }